

body{
	margin: 0;
	font-size: 16px;
}

html,body{
	min-height: 100vh;
}

.clear-atag{
	color: inherit;
	
	&:hover{
		text-decoration: none;
		color: inherit;
	}
	
	&:visited{
		color: inherit;
	}
}


/* ========================== NAVBAR =============================== */
nav.navbar.navbar-expand-sm.navbar-light{
	position: absolute;
	z-index: 100;
	top: 0;
	width: 100%;
	height: 100px;
	transition: all 300ms;
	
	.navbar-brand{
		color: #ffffff;
		font-size: 3.0rem;
		text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
					 0px -2px 3px rgba(0,0,0,0.4),
					 0px 8px 13px rgba(0,0,0,0.1),
					 0px 18px 23px rgba(0,0,0,0.1);
	}
	
	button.navbar-toggler{
		-webkit-filter: invert(100%);
	}
	
	a.nav-link{
		color: #ffffff;
		font-size: 1.2rem;
		padding: 0.5rem 1.5rem;
		
		&:hover{
			color: #ddddff;
		}
		
		div.dropdown-menu.show{
			color: red;
		}
	}
	
	button.nav-link{
		color: #ffffff;
		font-size: 1.2rem;
		padding: 0.5rem 1.5rem;
		background: rgba( 255 , 255 , 255 , 0.0 );
		border: none;
		
		&:hover{
			color: #ddddff;
			cursor: pointer;
		}
		
		&:focus{
			outline: none;
		}
	}
	
	div.dropdown-menu.show{
		background: rgba( 255 , 255 , 255 , 0.2 );
		
		a.dropdown-item{
			color: #ffffff;
			text-shadow: 0px 2px 3px rgba(0,0,0,0.4),
					 0px -1px 4px rgba(0,0,0,0.4),
					 0px 5px 9px rgba(0,0,0,0.1),
					 0px 10px 15px rgba(0,0,0,0.1);
			
			&:hover{
				background: rgba( 255 , 255 , 255 , 0.30 );
			}
		}
	}
}

.navbar-after-collapse{
	top: 50px !important;
}

/* ========================== LOGIN =============================== */
form.login{
	position: absolute;
	z-index: 1000;
	top: -500px;
	left: 50%;
	transform: translate( -50% , -50% );
	min-width: 40vw;
	transition: all 800ms cubic-bezier(0.32, 0.36, 0.4, 1.4);
	
	padding: 35px 35px;
	background: rgba( 255 , 255 , 255 , 1.0 );
	border: 1px solid #b0b0b0;
	border-radius: 5px;
	text-align: center;
	
	h2{
		margin: 0px 0 20px;
	}
	
	a{
		display: block;
		margin: 5px 0;
	}
	
	button[type="submit"]{
		padding: 7px 30px;
		margin-top: 20px;
	}
	
	.close{
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 2.0rem;
	}
}

form.login-shown{
	top: 50%;
}


/* ========================== HEADER =============================== */
header{
	width: 100%;
	height: 100vh;
	background: url( "../img/dog-main.jpg" );
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	h1{
		margin-left: 15%;
		font-size: 3.0rem;
		color: #ffffff;
		padding-top: 40vh;
		
		/*	 shadow: x	, y, blur, color*/
		text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
					 0px -2px 3px rgba(0,0,0,0.4),
					 0px 8px 13px rgba(0,0,0,0.1),
					 0px 18px 23px rgba(0,0,0,0.1);
	}
}


/* ========================== SERVICES =============================== */
section.services{
	min-height: 500px;
	padding: 70px 75px;
	background: url( '../img/services-bg.jpg' );
	background-size: contain;
	
	hr{
		border: 0;
		height: 1px;
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
	}
	
	h6.sub-title{
		text-transform: uppercase;
		letter-spacing: 5px;
		text-align: center;
		font-size: 1.3rem;
		margin-bottom: 60px;
	}
	
	h2{
		text-transform: uppercase;
		letter-spacing: 5px;
		text-align: center;
		font-size: 3.2rem;
		margin-top: 10px;
	}
	
	.row{
		color: #303030;
		margin: 35px 0;
		text-align: center;
		
		img{
			width: 80%;
			height: auto;
			border-radius: 3px;
			box-shadow: -2px 3px 15px 1px rgba( 0 , 0 , 0 , 0.5 );
		}
		
		.description{
			
			.service-title{
				color: #205010;
				display: inline-block;
				text-align: center;
				font-size: 2.5rem;
				margin-bottom: 10px;
				font-weight: 600;
				
				&:hover{
					color: #108000;
				}
			}
			
			p{
				text-align: left;
				font-size: 1.3rem;
				text-indent: 10%;
				margin-bottom: 20px;
				
				a{
					text-indent: 0;
					font-size: 1.1rem;
					float: right;
					margin-bottom: 15px;
					
					&:hover{ text-decoration: none; }
					
					i{ font-size: 0.9rem; }
					
					&::after{
						content: "";
						clear: both;
					}
				}
			}
		}
		
	}
}

/* ======================= RECOMMENDATIONS ============================= */
section.recommendations{
	background: #60b040;
	min-height: 300px;
	color: #ffffff;
	padding: 60px 10%;
	
	.slider{
		position: relative;
		min-height: 200px;
		
		
		img{
			display: block;
			margin-left: auto;
			height: 200px;
			border-radius: 50%;
			border: 3px solid #007000;
		}
		
		@media screen and ( max-width: 768px ){
			img{
				margin-right: auto;
			}
		}
		
		
		.text{
			padding: 15px 25px;
			
			
			h3{
				font-size: 1.6rem;
			}
			
			p{
				text-indent: 20px;
				font-size: 1.2rem;
				font-style: italic;
			}
			
			&::after{
				content: "";
				clear: both;
			}
		}
		
		@media screen and ( max-width: 768px ){
			.text h3{
				text-align: center;
			}
		}
		
		.next-opinion{
			position: absolute;
			bottom: 15px;
			right: 15px;
			font-size: 2.0rem;
			transition: all 200ms;
			
			&:hover{
				cursor: pointer;
				color: #ddf0dd;
				transform: scale( 1.15 , 1.15 );
			}
		}
	} /* end of .slider */
}


/* ======================= FOOOTER ============================= */
footer{
	background-color: #505050;
	color: #ffffff;
	padding: 40px 10%;
	text-align: center;
	
	h3{
		margin: 30px 0 30px;
	}
	
	.data-row{
		display: block;
		margin-bottom: 15px;
		transition: all 200ms;
		
		&:hover{
			color: #d5d5d5;
		}
	}
}

