body {
  margin: 0;
  font-size: 16px;
}

html, body {
  min-height: 100vh;
}

.clear-atag {
  color: inherit;
}
.clear-atag:hover {
  text-decoration: none;
  color: inherit;
}
.clear-atag:visited {
  color: inherit;
}

/* ========================== NAVBAR =============================== */
nav.navbar.navbar-expand-sm.navbar-light {
  position: absolute;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100px;
  transition: all 300ms;
}
nav.navbar.navbar-expand-sm.navbar-light .navbar-brand {
  color: #ffffff;
  font-size: 3rem;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px -2px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
nav.navbar.navbar-expand-sm.navbar-light button.navbar-toggler {
  -webkit-filter: invert(100%);
}
nav.navbar.navbar-expand-sm.navbar-light a.nav-link {
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}
nav.navbar.navbar-expand-sm.navbar-light a.nav-link:hover {
  color: #ddddff;
}
nav.navbar.navbar-expand-sm.navbar-light a.nav-link div.dropdown-menu.show {
  color: red;
}
nav.navbar.navbar-expand-sm.navbar-light button.nav-link {
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  background: rgba(255, 255, 255, 0);
  border: none;
}
nav.navbar.navbar-expand-sm.navbar-light button.nav-link:hover {
  color: #ddddff;
  cursor: pointer;
}
nav.navbar.navbar-expand-sm.navbar-light button.nav-link:focus {
  outline: none;
}
nav.navbar.navbar-expand-sm.navbar-light div.dropdown-menu.show {
  background: rgba(255, 255, 255, 0.2);
}
nav.navbar.navbar-expand-sm.navbar-light div.dropdown-menu.show a.dropdown-item {
  color: #ffffff;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px -2px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
nav.navbar.navbar-expand-sm.navbar-light div.dropdown-menu.show a.dropdown-item:hover {
  background: rgba(255, 255, 255, 0.3);
}

.navbar-after-collapse {
  top: 50px !important;
}

/* ========================== LOGIN =============================== */
form.login {
  position: absolute;
  z-index: 1000;
  top: -500px;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40vw;
  transition: all 800ms cubic-bezier(0.32, 0.36, 0.4, 1.4);
  padding: 35px 35px;
  background: white;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  text-align: center;
}
form.login h2 {
  margin: 0px 0 20px;
}
form.login a {
  display: block;
  margin: 5px 0;
}
form.login button[type=submit] {
  padding: 7px 30px;
  margin-top: 20px;
}
form.login .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
}

form.login-shown {
  top: 50%;
}

/* ========================== HEADER =============================== */
header {
  width: 100%;
  height: 100vh;
  background: url("../img/dog-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header h1 {
  text-align: center;
  font-size: 3rem;
  color: #ffffff;
  padding-top: 40vh;
  /*	 shadow: x	, y, blur, color*/
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px -2px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

/* ========================== SERVICES =============================== */
section.services {
  min-height: 500px;
  padding: 70px 75px;
  background: url("../img/services-bg.jpg");
  background-size: contain;
}
section.services hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}
section.services h6.sub-title {
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 50px;
}
section.services h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  font-size: 3.2rem;
}
section.services .row {
  color: #303030;
  margin: 35px 0;
  text-align: center;
}
section.services .row img {
  width: 80%;
  height: auto;
  border-radius: 3px;
  box-shadow: -2px 3px 15px 1px rgba(0, 0, 0, 0.5);
}
section.services .row .description .service-title {
  color: #205010;
  display: inline-block;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 600;
}
section.services .row .description .service-title:hover {
  color: #008000;
}
section.services .row .description p {
  text-align: left;
  font-size: 1.3rem;
  text-indent: 10%;
  margin-bottom: 20px;
}
section.services .row .description p a {
  text-indent: 0;
  font-size: 1.1rem;
  float: right;
  margin-bottom: 15px;
}
section.services .row .description p a:hover {
  text-decoration: none;
}
section.services .row .description p a i {
  font-size: 0.9rem;
}
section.services .row .description p a::after {
  content: "";
  clear: both;
}

/*# sourceMappingURL=styles.css.map */
